.commission-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.semi-realism-carousel {
    grid-column: 1 / span 5;
    margin: 2rem;
    margin-left: 5rem;
}

.semi-realism-article {
    grid-column: 6 / span 5;
    margin: 2rem;
    margin-right: 5rem;
}

