.article-container {
    max-height: 50vh;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(143, 0, 0, 0.5) transparent;
    border-radius: 1rem;
    border: 2px solid white;
}



.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    padding: 0.5rem;
}

.price {
    text-align: right;
    width: 25%;
}

.description {
    text-align: left;
    width: 75%;
}


.article-container::-webkit-scrollbar {
    width: 0.5rem;
    max-height: 2rem;
}

.article-container::-webkit-scrollbar-thumb {
    background-color: rgba(143, 0, 0, 0.5);
    border-radius: 0.5rem;
    max-height: 1rem;
}